
<mat-card class="center-card">
  <mat-card-content>
    <div>
      <form [formGroup]="postForm">
        <mat-card-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-card-field>
        <mat-card-field appearance="fill">
          <mat-label>Image</mat-label>
          <input matInput formControlName="img">
        </mat-card-field>
        <mat-card-field appearance="fill">
          <mat-label>Content</mat-label>
          <textarea matInput rows="5" formControlName="content"></textarea>
        </mat-card-field>
        <mat-card-field appearance="fill">
          <mat-label>Services</mat-label>
          <mat-chip-grid #chipGrip aria-label="Enter Services">
            <mat-chip-row *ngFor="let tag of services; let i = index" (removed)="remove(tag)">
                {{tag}}
              <button matChipRemove>
                <mat-icon>Cancel</mat-icon>
              </button>
            </mat-chip-row>

            <input placeholder="New Services..."
            [matChipInputFor]="chipGrip"
            (matChipInputTokenEnd)="add($event)"/>
          </mat-chip-grid>
        </mat-card-field>

        <mat-card-field appearance="fill">
          <mat-label>Posted By</mat-label>
          <input matInput formControlName="postedBy">
        </mat-card-field>

        <button mat-raised-button color="primary" style="float: right;"[disabled]="!postForm.valid" (click)="createPost()">Create New Post</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
