<mat-card-content>
  <div>
    <!--add Name-->
    <form [formGroup]="postForm" class="center-card">
      <mat-card-field appearance="fill">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
      </mat-card-field>
<br>

      <!--Add Image-->
      <mat-form-field appearance="fill">
        <mat-label>Image</mat-label>
        <input
          formControlName="img"
          matInput
          placeholder="Insérer l'URL de l'image"
        />
      </mat-form-field>
<br>
      <!--Add content-->
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput rows="5" formControlName="content"></textarea>
      </mat-form-field>
<br>
      <!--Services-->
      <mat-card-field appearance="fill">
        <mat-form-field class="example-full-width">
          <mat-label>Services</mat-label>
          <mat-chip-grid #chipGrip aria-label="Enter Tags">
              <mat-chip-row *ngFor="let tag of services; let i = index" (removed)="remove(tag)">
                {{services}}
                <button class="matChipRemove">
                  <mat-icon>Cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New Tag..."
              [matChipInputFor]="chipGrip"
             (matChipInputTokenEnd)="add($event)"/>
          </mat-chip-grid>
        </mat-form-field>
        
<br>
        <!--PostedBy-->
        <mat-card-field appearance="fill">
          <mat-form-field class="example-full-width">
            <mat-label>PostedBy</mat-label>
            <input matInput placeholder="postedBy" formControlName="postedBy" />
          </mat-form-field>
        </mat-card-field>
      
<br>
      <!--Buttom-->
      <button
        mat-raised-button
        color="primary"
        style="float: right"
        [disabled]="!postForm.valid"
        (click)="createPost()"
      >
        Create New Post
      </button><br>
    
  <br>


