<div *ngIf="postData" class="card-container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ postData.name }}</mat-card-title>
      <mat-card-subtitle
        >Post By :{{ postData.postedBy }} | Posted On :
        {{ postData.date | date : "medium" }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      [src]="postData.img"
      height="300px"
      class="img"
      alt="Card image"
    />
    <mat-card-content>
      {{ postData.content }}
    </mat-card-content>

    <br />
    <mat-chip-set>
      <mat-chip *ngFor="let services of postData.tags">{{ services }}</mat-chip>
    </mat-chip-set>

    <mat-card-actions>
      <button mat-raised-button color="primary">
        {{ postData.likeCount }}
      </button>
      <mat-icon>favorite</mat-icon>
      <button mat-raised-button color="primary" style="margin-left: 5px">
        {{ postData.viewCount }}
      </button>
      <mat-icon>remove_red_eye</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
